* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url('/imgs/bg-img-1.png');
  background-size: cover;
  background-position: center
}
@font-face {
  font-family: Kulture;
  src: url('/fonts/Kulture.otf') format("opentype");
  font-style: normal
}
@font-face {
  font-family: TASA;
  src: url('/fonts/TASA-Orbiter-Deck/TASAOrbiterText-Regular.otf') format("opentype");
  font-style: normal
}
h1 {
  font-size: 42pt;
  font-size-adjust: -1;
  font-family: Kulture;
  color: #dbddf1;
  font-weight: 100;
  text-shadow: 0 0 26px #837b4b;
  transition: all .3s ease
}
h2 {
  font-size: 32pt;
  font-family: Kulture;
  color: #dbddf1;
  font-weight: 100;
  text-shadow: 0 0 26px #837b4b;
  transition: all .3s ease
}
h2:hover {
  color: #dbddf1;
  filter: blur(2px);
  text-shadow: 0 0 26px #837b4b
}
.menu {
  color: #dbddf1;
  font-size: 18pt;
  font-family: TASA;
  text-shadow: 0 0 16px #1e1e1e;
  transition: all .3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/6;
  height: 60px;
  margin-top: 20px;
  text-align: center;
  width: 100%
}
.menu-item {
  color: #dbddf1;
  font-size: 18pt;
  font-family: TASA;
  text-decoration: none;
  text-shadow: 0 0 16px #1e1e1e;
  transition: all .3s ease
}
.menu-item:hover {
  color: #dbddf1!important;
  filter: blur(2px);
  text-shadow: 0 0 16px #dbddf1;
  background-color: rgba(105,202,2,0)
}
/*Screen Sizes*/
@media screen and (min-width:1720px) {
  h1 {
    font-size: 64pt!important;
    font-family: Kulture;
    color: #dbddf1;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 30px 0;
    text-shadow: 0 0 26px #dbddf1;
    transition: all .3s ease
  }
  h2 {
    font-size: 42pt!important;
    font-family: Kulture;
    color: #dbddf1;
    font-weight: 300;
    text-shadow: 0 0 26px #dbddf1;
    letter-spacing: 1px;
    transition: all .3s ease
  }
  .big-text {
    font-family: TASA;
    font-size: 46pt!important;
    color: #9b956e;
    font-weight: 300;
    margin-top: -10px;
    transition: all .3s ease
  }
  p {
    font-family: TASA;
    font-size: 18pt!important;
    color: #9b956e;
    font-weight: 300;
    transition: all .3s ease
  }
  .top-date-type {
    font-family: TASA;
    font-size: 18pt!important;
    color: #9b956e;
    font-weight: 300;
    line-height: 1.2;
    transition: all .3s ease
  }
  .menu {
    font-size: 20pt!important;
    transition: all .3s ease
  }
  .menu-item {
    font-size: 20pt!important;
    transition: all .3s ease
  }
  .menu-item:hover {
    color: #dbddf1!important;
    filter: blur(2px);
    text-shadow: 0 0 16px #dbddf1;
    background-color: rgba(105,202,2,0)
  }
  .grid-container {
    padding: 0 20em!important;
    transition: all .3s ease
  }
  .italic {
    font-style: italic
  }
  .image-interaction {
    font-family: TASA;
    color: #75b234;
    font-weight: 300;
    text-decoration: underline;
    transition: all .3s ease;
    display: inline-block
  }
  .image-interaction:hover {
    font-family: TASA;
    color: #000!important;
    font-weight: 300;
    background-color: #69ca02;
    cursor: pointer;
    width: fit-content
  }
  #profile-image {
    max-height: 500px!important
  }
}
@media screen and (max-width:1720px) {
  h1 {
    font-size: 54pt!important;
    transition: all .3s ease
  }
  h2 {
    font-size: 36pt!important;
    transition: all .3s ease
  }
  .grid-container {
    padding: 0 10em!important;
    transition: all .3s ease
  }
}
@media screen and (max-width:1190px) {
  .menu {
    color: #dbddf1;
    font-size: 18pt!important;
    font-family: TASA;
    text-shadow: 0 0 16px #1e1e1e;
    transition: all .3s ease
  }
  .menu-item {
    color: #dbddf1;
    font-size: 14pt!important;
    font-family: TASA;
    text-decoration: none;
    text-shadow: 0 0 16px #1e1e1e;
    transition: all .3s ease
  }
  .menu-item:hover {
    color: #dbddf1!important;
    filter: blur(2px);
    text-shadow: 0 0 16px #dbddf1;
    background-color: rgba(105,202,2,0)
  }
  .grid-container {
    padding: 0 4em!important;
    transition: all .3s ease
  }
  h1 {
    font-size: 42pt!important;
    transition: all .3s ease
  }
  h2 {
    font-size: 32pt!important;
    transition: all .3s ease
  }
  #profile-image {
    max-height: 360px!important
  }
}
/*Mobile Sizes*/
@media screen and (max-width:800px) {
  .menu {
    display: none!important
  }
  .menu-item {
    font-size: 16pt;
    transition: all .3s ease
  }
  .grid-container {
    padding: 0 1.2em!important;
    margin-top: 70px!important;
    transition: all .3s ease
  }
  h1 {
    font-size: 32pt!important;
    transition: all .3s ease
  }
  h2 {
    font-size: 24pt!important;
    transition: all .3s ease
  }
  .big-text {
    font-size: 24pt!important;
    transition: all .3s ease;
    padding-bottom: 30px;
    margin-top: -14px
  }
  p {
    font-size: 14pt!important;
    line-height: 1.4!important;
    transition: all .3s ease
  }
  .grid-container {
    display: block!important
  }
  .sub-menu,
  .sub-menu-contact-info {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box
  }
  .button a {
    color: #75b234;
    font-size: 16pt;
    transition: all .3s ease;
    background-color: transparent;
    border: 2px solid #75b234;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto
  }
  .sub-menu-sound-ecology {
    padding-bottom: 30px
  }
  .bottom-menu {
    display: flex!important;
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100vw;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 8px;
    z-index: 1000;
    gap: 0;
    z-index: 2000
  }
  .bottom-menu::before {
    content: "";
    flex: 1 1 0;
    height: 3px;
    background: #dbddf1;
    text-shadow: 0 0 16px #fff;
    margin: 0 1em 0 4em
  }
  .bottom-menu::after {
    content: "";
    flex: 1 1 0;
    height: 3px;
    background: #dbddf1;
    text-shadow: 0 0 16px #fff;
    margin: 0 4em 0 1em
  }
  .overlay-divider {
    width: 86%;
    border: none;
    border-top: 3px solid #fff;
    margin: 1em 0
  }
  .menu-btn {
    color: #fff;
    background: 0 0;
    border: #ffffff00;
    font-size: 16px;
    text-decoration: none;
    color: #dbddf1;
    font-family: TASA;
    text-shadow: 0 0 16px #fff;
    transition: all .3s ease;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1
  }
  .menu-overlay {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-bottom: 80px
  }
  .menu-overlay.active {
    display: flex
  }
  .menu-overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    transition: all .3s ease
  }
  .mobile-menu-link {
    font-family: TASA,sans-serif;
    text-shadow: 0 0 24px #dbddf1;
    font-size: 54pt;
    font-weight: 600;
    text-align: center;
    transition: all .3s ease
  }
  .mobile-menu-link a {
    font-family: TASA,sans-serif;
    text-shadow: 0 0 24px #dbddf1;
    font-size: 54pt;
    font-weight: 600;
    text-align: center;
    transition: all .3s ease
  }
  .mobile-menu-link a:hover {
    font-family: TASA,sans-serif;
    text-shadow: 0 0 24px #dbddf1 !important;
    font-size: 54pt;
    font-weight: 600;
    text-align: center;
    transition: all .3s ease
  }
  .overlay-link {
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: TASA,sans-serif;
    transition: color .2s
  }
  .overlay-link:hover {
    color: #75b234
  }
  .close-overlay {
    background: 0 0;
    border: none;
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer
  }
  body.menu-open .bottom-menu {
    background: 0 0!important;
    backdrop-filter: none!important;
    -webkit-backdrop-filter: none!important
  }
  .menu-wrapper {
    display: none!important
  }
  .radio-player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px; 
    padding: 4rem;
  }
}
.menu {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.menu span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.menu .line {
  flex-grow: 1;
  height: 2px;
  background-color: #d9d9d9;
  margin: 0 2em
}
.color-block {
  position: absolute;
  top: 0;
  left: -3%;
  width: 106%;
  height: 100%;
  background-color: #75b234;
  filter: blur(20px);
  z-index: 0;
  pointer-events: none
}
.grid-container {
  display: grid;
  column-gap: 20px;
  margin-top: 20px;
  padding: 0 10em;
  transition: all .3s ease
}
.menu-wrapper {
  grid-column: 2/6;
  position: relative;
  width: 100%;
  z-index: 2;
  height: 80px;
  display: flex;
  align-items: center
}
.radio-wrapper {
  grid-column: 2/6;
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: 10%
}
  .radio-player-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px; 
    padding: 4rem;
    z-index: 2;
  }
.radio-player-wrapper {
  grid-column: 2/6;
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
.bottom-menu {
  display: none
}
.episode-title-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center
}
.episode-color-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #75b234;
  filter: blur(30px);
  width: 110%;
  height: 110%;
  z-index: 0;
  pointer-events: none;
  border-radius: 12px
}
#episode-title {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 .5em
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer
}
.button-text {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: .5em 1em
}
.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}
.button-color-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #75b234;
  filter: blur(20px);
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  border-radius: 12px
}